<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Movie name</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">Manage movies <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">add movies</a></li>
        <li><a href="#">delete movies</a></li>
        <li><a href="#">edit movies</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    description
  </div>
</div>
<div class="row">
    <div class="col-xs-12">
      specialities
    </div>
  </div>