<div class="row">
  <div class="col-xs-12">
    <form >
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" name="" id="name" class="form-control">
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">amount</label>
          <input type="text" name="" id="name" class="form-control">

        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success">add</button>
          <button class="btn btn-danger">delete</button>
          <button class="btn btn-primary">edit</button>
        </div>
      </div>
    </form>
  </div>
</div>